.container {
  /* 最大幅を固定 */
  max-width: 1000px;
  /*
  幅を指定したボックスの左右の margin を両方とも auto にすると、
  親要素と自分自身の幅の差分となる余白を2等分してボックスの左右それぞれに均等に配置し、
  その結果ボックスが中央に配置されるという仕組み。
  */
  margin-left: auto;
  margin-right: auto;
  background: #eee;
}

/* 画像のフルード（液体のように容器の大きさに合わせて変化する）化 */
img {

  /* 画像自体の物理的な幅を最大値としてそれ以上は広がらず、
  自分より親要素の幅が狭くなった場合には親要素幅に合わせて縮小できる
   */
  max-width: 100%;

  /* width: 100%; とした場合、画像自体の物理的な幅を超えて親要素の幅いっぱいまで広がる */
  /* width: 100%; */

  /* 画像のアスペクト比を維持するための設定 */
  height: auto;
}